@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --primary: hsl(233, 47%, 7%);
  --secondary: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --neutral-white: hsla(0, 0%, 100%, 0.75);
  --neutral-transparent-white: hsla(0, 0%, 100%, 0.5);
  --main-font: 'Inter', serif;
  --secondary-font: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********/
/* DEFAULT */
/***********/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/***********/
/* MY CODE */
/***********/

.--position-relative {
  position: relative;
}

body {
  background-color: var(--primary);
  height: 100vh;
  font-family: var(--main-font);
  color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.938rem; /* 15px */
}

img {
  width: 100%;
}

.container {
  width: 325px;
  margin: auto;
  background-color: var(--secondary);
  text-align: center;
  border-radius: 0.5rem;
}

@media (min-width: 576px) {
  .container {
    width: 450px;
  }  
}

@media (min-width: 768px) {
  .container {
    width: 525px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1050px;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .image-container {
    width: 50%;
  }
}

.image-container__mobile {
  border-radius: 0.5rem 0.5rem 0 0;
  display: block; /* para eliminar el espacio con el efecto transparente debajo de la imagen */
  margin-bottom: 2.5rem;
}

@media (min-width: 1200px) {
  .image-container__mobile {
    display: none;
  }
}

.image-container__desktop {
  display: none;
}

@media (min-width: 1200px) {
  .image-container__desktop {
    display: block;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.image-container__overlay {
  background-color: var(--accent);
  opacity: 0.6;
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .image-container__overlay {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 50%;
    padding: 3rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.main__title {
  font-size: 1.6rem;
  padding-inline: 1rem;
}

@media (min-width: 1200px) {
  .main__title {
    font-size: 2rem;
  }
}

.main__title span {
  color: var(--accent);
}

.main__text {
  padding: 1rem;
  line-height: 1.5;
  color: var(--neutral-transparent-white);
}


.stats {
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  .stats {
    display: flex;
    justify-content: space-between;
  }
}

.stats__item {
  padding: 1rem;
}

.stats__item__text {
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  letter-spacing: 1px; /* espaciado entre las letras */
  color: var(--neutral-transparent-white);
  margin-top: 0.5rem;
}